#images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
 }
 #firstImage {
    width :375px ;
    height: 375px;
}
#secondImage{
    width : 375px ;
    height: 375px;
}
#thirdImage{
    width : 375px;
    height: 375px;
}
